@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Cabin+Condensed:wght@700&display=swap');

a{
  text-decoration: none;
}

.cityDelivery{
  font-family: 'Cabin Condensed', sans-serif ;
  font-size: 64px;
 
}

.address{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 32px;
  margin-right: 13px;
}

.button_red {
  background-color: #E4002B; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button_light {
  background-color: #F7F6F5;
  border: none;
  color: #9D9D9D,;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=text]{
   width: 210px;
   height: 42px;
   display: inline;
}

.nav{
  display: flex;
  justify-content: center;
 position: sticky;
 z-index: 99;
  top: 0;
  align-items: center;
  height: 64px;
  background-color: #fff;
}


.nav_link{
  text-align: center;
  color: #9D9D9D;
  height: 32px;
  width: 100px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  padding-bottom: 12px;
  border-bottom: 3px solid transparent;
  
}

.nav_link >a:hover{
  color:#E4002B;
  padding-bottom: 12px;
  border-bottom: 2px solid #E4002B;

}

.nav_link > a{
  color: #9D9D9D;
}

:target{
  display: block;
	content: "";
	height: 55px;
	margin: -55px 0 0;
  transition-duration: .8s;
}
/* #link-B:before {
	display: block;
	content: "";
	height: 55px;
	margin: -55px 0 0;
} */




.container_category{
  max-width: 100%;
  margin: 0 auto;
}
