
.container{
  margin: 0 96px;
}

.header{
  margin-top: 32px;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header_logo{
  display: flex;
  justify-content: center;
}

.header_logo_item{
  height: 17px;
 margin: 0 7px;
  width: 14px;
  background-color: #E4002B;
}
